.calculator-base {
  width: 340px;
  height: 580px;
  max-height: 580px;
  background-color: black;
  border-radius: 8px;
  display:flex;
  flex-direction: column;
  margin-left: 20px;
}

.display {
  min-height: 120px;
  flex-grow: 1;
  text-align: right;
  position: relative;
  background-color: black;
  padding-right: 20px;
  align-content: flex-end;
}

.display > p {
  color: white;
  font-size: 42px;
  position: relative;
  top: 36px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}
